<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Url Shortener</title>
</head>

<body class="p-4">
    <h1 class="text-center">URL Shortener</h1>
    <form action="/shortUrls" method="post" class="my-4">
        <label class="form-label" for="fullUrl">URL</label>
        <div class="input-group mb-3">
            <input type="url" class="form-control" name="fullUrl" id="fullUrl" required placeholder="Enter URL"
                aria-label="Enter URL">
            <button class="btn btn-success" type="submit">Shrink</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>QR Code</th>
                    <th>Clicks</th>
                    <th>Copy</th>
                    <th>Share</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl=> { %>
                    <tr data-url-id="<%= shortUrl._id %>">
                        <td><a href="<%= shortUrl.full %>">
                                <%= shortUrl.full %>
                            </a></td>
                        <td><a href="<%= shortUrl.short %>">
                                <%= shortUrl.short %>
                            </a></td>
                        <td>
                            <button onclick="openQRCode('<%= shortUrl.short %>')" class="btn btn-info btn-sm">QR
                                Code</button>
                        </td>
                        <td>
                            <%= shortUrl.clicks %>
                        </td>
                        <td>
                            <button onclick="copyUrl('<%= shortUrl.short %>')"
                                class="btn btn-primary btn-sm">Copy</button>
                        </td>
                        <td>
                            <button onclick="shareUrl('<%= shortUrl.short %>')"
                                class="btn btn-success btn-sm">Share</button>
                        </td>
                        <td>
                            <button onclick="deleteUrl('<%=shortUrl._id%>')"
                                class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <script>
        function copyUrl(text) {
            const tempTextarea = document.createElement('textarea');
            tempTextarea.value = text;

            document.body.appendChild(tempTextarea);

            tempTextarea.select();
            tempTextarea.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(tempTextarea.value);

            // Remove the temporary textarea
            document.body.removeChild(tempTextarea);

            // You can also provide user feedback (e.g., show a tooltip or alert)
            alert('Copied to clipboard: ' + text);
        }

        function shareUrl(text) {
            if (navigator.share) {
                navigator.share({
                    title: 'Check out this URL',
                    text: 'Shortened URL: ' + text,
                    url: text,
                }).then(() => console.log('Shared successfully'))
                    .catch((error) => console.error('Error sharing:', error));
            } else {
                // If Web Share API is not supported
                alert('Sharing is not supported on this browser.');
            }
        }

        async function deleteUrl(urlId) {
            const confirmation = confirm("Are you sure you want to delete this URL?");

            if (!confirmation) {
                return; // User canceled deletion
            }

            try {
                const response = await fetch(`/deleteUrl/${urlId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    console.log('URL deleted successfully:', urlId);
                    const deletedRow = document.querySelector(`[data-url-id="${urlId}"]`);
                    if (deletedRow) {
                        deletedRow.remove(); // Remove the row from the table
                    } else {
                        console.warn('Deleted row not found in the DOM.');
                    }
                } else {
                    console.error('Failed to delete URL:', response.status);
                }
            } catch (error) {
                console.error('Error deleting URL:', error);
            }
        }

        // QR must open in a new tab
        function openQRCode(shortUrl) {
            window.open(`/qrcodes/${shortUrl}.png`, '_blank');
        }
    </script>
</body>

</html>