<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Url Shortener</title>
</head>

<body style="padding: 25px;">
    <h1 class="text-center">URL Shortener</h1>
    <form action="/shortUrls" method="post" class="my-4">
        <label class="form-label" for="fullUrl">URL</label>
        <div class="input-group mb-3">
            <input type="url" class="form-control" name="fullUrl" id="fullUrl" required placeholder="Enter URL"
                aria-label="Enter URL">
            <button class="btn btn-success" type="submit">Shrink</button>
        </div>
    </form>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Click</th>
                <th>Copy Short URL</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl=> { %>
                <tr>
                    <td><a href="<%= shortUrl.full %>">
                            <%= shortUrl.full %>
                        </a></td>
                    <td><a href="<%= shortUrl.short %>">
                            <%= shortUrl.short %>
                        </a></td>
                    <td>
                        <%= shortUrl.clicks %>
                    </td>
                    <td>
                        <button onclick="copyText('<%= shortUrl.short %>')" class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Copy</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

<script>
    function copyText(text) {
        const tempTextarea = document.createElement('textarea');
        tempTextarea.value = text;

        document.body.appendChild(tempTextarea);

        tempTextarea.select();
        tempTextarea.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(tempTextarea.value);

        // Remove the temporary textarea
        document.body.removeChild(tempTextarea);

        // You can also provide user feedback (e.g., show a tooltip or alert)
        alert('Copied to clipboard: ' + text);
    }
</script>

</html>